<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        
        </style>
</head>
<body>
    {% for table in tables %}
        <table>
            <!-- <thead>
                <tr>
                    {% for title in titles %}
                        <th>{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead> -->
            <tbody>
                {{ table|safe }}
            </tbody>
        </table>
    {% endfor %}
</body>
</html>